/*******************
        ADMIN STYLE INDEX
********************
=BASE
=HEADER
=ASIDE
=UIKIT TWEAK

/******************************
            =BASE
******************************/
html {
    font-size: 16px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.3;
}

header, footer, main, aside, article, div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

a {
    color: #20aebb;
    text-decoration: none;
}

th {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    color: #20aebb;
}

td {
    font-size: 14px;
}

input[type=text], textarea {
    width: 100%;
}

input[type=checkbox] + label {
    margin-right: 10px;
}
/******************************
            =HEADER
******************************/
header {
    width: 100%;
    height: 90px;
    background:url(http://assets.zepdesign.dev/bg.jpg);
}

.logo {
    width: 100px;
    padding-top: 20px; 
}

.header-title h2 {
    padding-top: 15px;
    font-weight: 100;
    color: white;
}

/******************************
        =ASIDE
******************************/
aside {
    height: 100vh;
    padding-top: 10px;
    background: #20aebb;
}

aside a {
    text-decoration: none;
    color: white;
}

aside a:hover {
    text-decoration: none;
    color: white;
}

aside li {
    font-size: 18px;
    margin-bottom: 5px;
}

aside .uk-nav-sub {
    background: #21909a;
    -webkit-box-shadow: inset 0px 0px 33px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 33px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 33px 0px rgba(0,0,0,0.15);
}


/******************************
            =UI TWEAKS
******************************/
.uk-nav-sub a {
    font-size: 14px;
}

.uk-nav-sub li {
    margin-bottom: 5px;
}

.uk-table th {
    padding: 8px 8px 2px;
}

td .uk-icon-justify {
    margin-right:5px;
}

.uk-text-bold {
    font-weight: 400;
}